<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/load_dashboard"
                       aria-expanded="false">
                        <i class="mdi mdi-home"></i>
                        <span class="hide-menu"> Home </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/view_price_chart"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-line"></i>
                        <span class="hide-menu"> View Price Chart </span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="/user/vehicle_chart"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i>
                        <span class="hide-menu"> View Vehicle Chart </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-currency-inr"></i>
                        <span class="hide-menu"> Manage Sell Request </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/user/load_sell_request" class="sidebar-link">
                                <i class="mdi mdi-comment-processing-outline"></i>
                                <span class="hide-menu"> Sell Request </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/user/view_sell_request" class="sidebar-link">
                                <i class="mdi mdi-calendar"></i>
                                <span class="hide-menu"> View Sell Request </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i>
                        <span class="hide-menu"> Manage Transport Request </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/user/transport_request" class="sidebar-link">
                                <i class="mdi mdi-comment-processing-outline"></i>
                                <span class="hide-menu"> Transport Request </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/user/view_transport_request" class="sidebar-link">
                                <i class="mdi mdi-calendar"></i>
                                <span class="hide-menu"> View Transport Request </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-calendar-clock"></i>
                        <span class="hide-menu"> Manage Booking Slot </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/user/load_book_slot" class="sidebar-link">
                                <i class="mdi mdi-comment-processing-outline"></i>
                                <span class="hide-menu"> Book Slot </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/user/view_booking_request" class="sidebar-link">
                                <i class="mdi mdi-calendar"></i>
                                <span class="hide-menu"> View Book Slot </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/load_view_receipt"
                       aria-expanded="false">
                        <i class="mdi mdi-receipt"></i>
                        <span class="hide-menu">View Receipt</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/load_order_history"
                       aria-expanded="false">
                        <i class="mdi mdi-history"></i>
                        <span class="hide-menu">Order History</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/about_us"
                       aria-expanded="false">
                        <i class="mdi mdi-information"></i>
                        <span class="hide-menu">About Us</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/view_complain"
                       aria-expanded="false">
                        <i class="mdi mdi-headset"></i>
                        <span class="hide-menu">Get Help</span>
                    </a>

                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/user/load_feedback"
                       aria-expanded="false">
                        <i class="mdi mdi-thumb-up"></i>
                        <span class="hide-menu">Feedback </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/logout_session"
                       aria-expanded="false">
                        <i class="mdi mdi-logout"></i>
                        <span class="hide-menu"> Log Out </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
