<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/load_dashboard"
                       aria-expanded="false">
                        <i class="mdi mdi-home"></i>
                        <span class="hide-menu"> Home </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_user"
                       aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu"> View Users </span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-barley"></i>
                        <span class="hide-menu"> Manage Crop </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/admin/add_crop" class="sidebar-link">
                                <i class="mdi mdi-email"></i>
                                <span class="hide-menu"> Add Crop </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/view_crop" class="sidebar-link">
                                <i class="mdi mdi-email-alert"></i>
                                <span class="hide-menu"> View Crop </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-chart-line"></i>
                        <span class="hide-menu"> Manage Price Chart </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/admin/add_price" class="sidebar-link">
                                <i class="mdi mdi-book-multiple"></i>
                                <span class="hide-menu"> Add Crop Price </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/view_price" class="sidebar-link">
                                <i class="mdi mdi-book-plus"></i>
                                <span class="hide-menu"> View Crop Price </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i>
                        <span class="hide-menu"> Manage Vehicles </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/admin/add_vehicle" class="sidebar-link">
                                <i class="mdi mdi-comment-processing-outline"></i>
                                <span class="hide-menu"> Add Vehicle </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/view_vehicle" class="sidebar-link">
                                <i class="mdi mdi-calendar"></i>
                                <span class="hide-menu"> View Vehicles </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_sell_request"
                       aria-expanded="false">
                        <i class="mdi mdi-currency-inr"></i>
                        <span class="hide-menu">Manage Sell Requests </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_transport_request"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i>
                        <span class="hide-menu">Manage Transport Requests</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                       aria-expanded="false">
                        <i class="mdi mdi-clock"></i>
                        <span class="hide-menu"> Manage Time Slot </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item">
                            <a href="/admin/load_timeslot" class="sidebar-link">
                                <i class="mdi mdi-comment-processing-outline"></i>
                                <span class="hide-menu"> Add Timeslot </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin/view_timeslot" class="sidebar-link">
                                <i class="mdi mdi-calendar"></i>
                                <span class="hide-menu"> View Timeslot </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_booking_request"
                       aria-expanded="false">
                        <i class="mdi mdi-truck"></i>
                        <span class="hide-menu">Manage Booking Requests</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_complain"
                       aria-expanded="false">
                        <i class="mdi mdi-headset"></i>
                        <span class="hide-menu">Manage Complains</span>
                    </a>

                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/view_feedback"
                       aria-expanded="false">
                        <i class="mdi mdi-thumb-up"></i>
                        <span class="hide-menu">Manage Feedbacks </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/logout_session"
                       aria-expanded="false">
                        <i class="mdi mdi-logout"></i>
                        <span class="hide-menu"> Log Out </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
